<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

  <title>Employee Summary</title>

  <style>
    .header {
      text-align: center;
      color: white;
    }
  </style>
</head>
<body>
  <!-- Header -->
  <div class="jumbotron jumbotron-fluid" style="background-color: red;">
    <div class="container">
      <h1 class="display-4 header">My Team</h1>
    </div>
  </div>
  <div class="manager">
    {{manager.html}}
  </div>
  <div class="intern">
    {{intern.html}}
  </div>
  <div class="engineer">
    {{engineer.html}}
  </div>
</body>
</html>